<mat-toolbar color="primary" class="mat-elevation-z4">
  <span>Matricula Helper</span>
</mat-toolbar>

<button mat-button>Basic</button>
<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button>


<div class="wrapper">
  <div class="wrapper-2">
    <section class="mat-typography">
      <h1>Perdido nas matrículas?</h1>
      <p class="body-2">Sabemos como é fácil se perder nas UFABC - quais matérias ainda preciso fazer? Eu acho que faltam 30 matérias obrigatórias,
        é isso mesmo? Mas e as minhas matérias livres? Será que vou me formar mesmo? Quando? Mas eu preciso mesmo fazer eletromag?
        Devo mudar pro BCT?
      </p>
      <p> Estamos aqui para te ajudar.</p>
      <button mat-raised-button color="primary" id="start-button">Começar</button>

    </section>
  </div>
</div>