<mat-toolbar color="primary" class="mat-elevation-z4">
  <span>Matricula Helper</span>
</mat-toolbar>



<div class="wrapper">
  <div class="wrapper-2">
    <div class="mat-typography">
      <h1>Perdido nas matrículas?</h1>
      <p class="body-2">Sabemos como é fácil se perder nas UFABC - quais matérias ainda preciso fazer? Eu acho que faltam 30 matérias obrigatórias,
        é isso mesmo? Mas e as minhas matérias livres? Será que vou me formar mesmo? Quando? Mas eu preciso mesmo fazer eletromag?
        Mas eu reprovei FUV quatro vezes? Devo mudar pro BCH?
      </p>
      <p> Estamos aqui para te ajudar.</p>


      <br>
      <br>
      <br>

      <mat-card>
        <p>Escolha seu Bacharelado Interdisciplinar:</p>


        <mat-radio-group [(ngModel)]="userData.bi" class="example-radio-group">
          <mat-radio-button class="example-radio-button" value="BCT">
            BC&T
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" value="BCH">
            BCH
          </mat-radio-button>




        </mat-radio-group>

        <br>
        <br>



        <mat-form-field class="example-full-width">
          <textarea  matInput placeholder="Json das materias"  [(ngModel)]="userData.classes" ></textarea>
        </mat-form-field>

        <!-- <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]="userData.postBi" *ngFor="let c of courses" [value]="c.name">{{c.name}}</mat-checkbox>
        </section>  -->



        <button mat-raised-button color="primary" id="start-button" (click)="getClasses()" checked>Enivar</button>

   
  

      </mat-card>

      
      <mat-card style="margin-top: 40px;" *ngIf="classList">

        <h3>Obrigatorias BI</h3>
        <p *ngFor="let c of l">{{c.nome}}</p>

      </mat-card>

      <mat-card style="margin-top: 40px;" *ngIf="classList">

          <h3>Obrigatorias Curso Especifico</h3>
          <p *ngFor="let c of classList.especificas">{{c.nome}}</p>
  
      </mat-card>

      <mat-card style="margin-top: 40px;" *ngIf="classList">

          <h3>Livres</h3>
          <p *ngFor="let c of classList.livres">{{c.nome}}</p>
  
      </mat-card>



    </div>
  </div>
</div>