.wrapper {
    padding: 50px 70px 0;
    display: block;
    text-align: center;
}

.wrapper-2{
    display: flex;
    align-items: flex-start;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 28px;
}


#start-button{
  margin-top:40px;   
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }

  
.example-section {

    display: inline-flex;
    flex-direction: column;
  }
  
  .example-margin {
    margin: 5px 0;
  }