<mat-toolbar color="primary" class="mat-elevation-z4">
  <span>Matricula Helper</span>
</mat-toolbar>



<div class="wrapper">
  <div class="wrapper-2">
    <div class="mat-typography">
      <h1>Perdido nas matrículas?</h1>
      <p class="body-2">Sabemos como é fácil se perder nas UFABC - quais matérias ainda preciso fazer? Eu acho que faltam 30 matérias obrigatórias,
        é isso mesmo? Mas e as minhas matérias livres? Será que vou me formar mesmo? Quando? Mas eu preciso mesmo fazer eletromag?
        Mas eu reprovei FUV quatro vezes? Devo mudar pro BCH?
      </p>
      <p> Estamos aqui para te ajudar.</p>


      <br>
      <br>
      <br>

      <mat-card>
        <p>Escolha seu Bacharelado Interdisciplinar:</p>


        <mat-radio-group [(ngModel)]="userData.bi" class="example-radio-group">
          <mat-radio-button class="example-radio-button" value="BCT">
            BC&T
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" value="BCH">
            BCH
          </mat-radio-button>




        </mat-radio-group>

        <br>
        <br>

 
        <section *ngIf="userData.bi == 'BCH'"> 
          <p>Ainda não temos os dados do BCH, mas os teremos em breve!</p>
        </section>

        <section *ngIf="userData.bi == 'BCT'">
            <p>Escolha o curso pós-BI que você está fazendo ou gostaria de fazer:</p>
            <mat-radio-group [(ngModel)]="userData.postBi" class="example-radio-group">
                <mat-radio-button class="example-radio-button" *ngFor="let c of courses" [value]="c.id">
                    {{c.name}}
                  </mat-radio-button>
            </mat-radio-group>
        </section>
     


        <section style="margin-top: 50px;">
            <p>Coloque o texto completo que está no botão "JSON", na sua ficha individual no <a href="https://aluno.ufabc.edu.br/fichas_individuais">portal do aluno.</a>:</p>
          <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>JSON das matérias</mat-label>
            <textarea  matInput [(ngModel)]="userData.classes"  rows="5"></textarea>
          </mat-form-field>
        </section>

        
        

        <button mat-raised-button color="primary" id="start-button" (click)="getClasses()" checked>Enviar</button>

   
  

      </mat-card>

      <mat-card style="margin-top: 40px;" *ngIf="classList">

          <h3>Obrigatorias que faltam fazer</h3>
          <p *ngFor="let c of classList.todo">{{c.nome}}</p>
  
        </mat-card>

      
      <mat-card style="margin-top: 40px;" *ngIf="classList">

        <h3>Obrigatorias BI</h3>
        <p *ngFor="let c of l">{{c.nome}}</p>

      </mat-card>

      <mat-card style="margin-top: 40px;" *ngIf="classList">

          <h3>Obrigatorias Curso Especifico</h3>
          <p *ngFor="let c of classList.especificas">{{c.nome}}</p>
  
      </mat-card>

      <mat-card style="margin-top: 40px;" *ngIf="classList">

          <h3>Limitadas Curso Especifico</h3>
          <p *ngFor="let c of classList.limitadas">{{c.nome}}</p>
  
      </mat-card>


      <mat-card style="margin-top: 40px;" *ngIf="classList">

          <h3>Livres</h3>
          <p *ngFor="let c of classList.livres">{{c.nome}}</p>
  
      </mat-card>



    </div>
  </div>
</div>